<!DOCTYPE html>
<html>

<head >
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>SMART BROKER</title>
  <!-- CSS -->
  <link rel="stylesheet" href="views/css/main.css">
  <link href="views/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!--JAVASCRIPT-->
  <!--meus javascripts-->
  <script src="views/js/main.js"></script>
  <!--bootstrap javascripts-->
  <script src="./node_modules/jquery/dist/jquery.min.js"></script>
  <script src="./node_modules/popper.js/dist/popper.min.js"></script>
  <script src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>



</head>
<body onload="DefineCampo()">



  <div class="container">
      <div class="row" style="background-color: darkblue" >
         <div style="text-align: center;margin: 0 auto;">
           <h1 style="color: white">Cabeçalho Bootstrap</h1>
         </div>
      </div>
      <div class="row" >
         <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2" style="background-color: skyblue">
           esquerdaaaaaaaaaaaaaaaaaaa
         </div>
         <div class="col-xs-6 col-sm-6 col-md-8 col-lg-8" style="background-color: whitesmoke">
           <div class="row" style="text-align: center; margin: 0 auto;">
    <button type="button" class="btn btn-warning"><img src="images/tela/logo_caixa.jpg" height="60" width="110"></img></br>Carteira</button>
&nbsp<button type="button" class="btn btn-warning"><img src="images/tela/logo_caixa.jpg" height="60" width="110"></img></br>Minhas Posições</button>
&nbsp<button type="button" class="btn btn-warning"><img src="images/tela/logo_caixa.jpg" height="60" width="110"></img></br>Ordens Agendadas</button>
&nbsp<button type="button" class="btn btn-warning"><img src="images/tela/logo_caixa.jpg" height="60" width="110"></img></br>Histórico</button>
&nbsp<button type="button" class="btn btn-warning"><img src="images/tela/logo_caixa.jpg" height="60" width="110"></img></br>Robô</button>
           </div>
           <div class="row" >
           centro
           rb
           qqqqqqqqqq
           qqqqqqqqqqqq
           qqqqqqqqqqqq
           qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
           qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
           qqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqq
           </div>
        </div>
         <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2" style="background-color: skyblue">
           direitaaaaaaaaaaaaaaaaaaaaaaaa
         </div>

       </div>


  </div>


</body>
